<hr>

<legend>Oxygen Consumed:</legend>

<div class="progress" style="height: 20px;">
  <div
    class="progress-bar"
    role="progressbar"
    style="width: <%= @round.percentage_oxygen %>%;"
    aria-valuenow=<%= @round.consumed_oxygen %>
    aria-valuemin="0"
    aria-valuemax=<%= Round::MAX_OXYGEN %>>
      <%= @round.percentage_oxygen %> %
  </div>
</div>

<p>
  There are <strong><%= @round.remaining_oxygen%></strong> slots of oxygen left
</p>