<% content_for :title do %>
  It's <%= @player %>'s turn!
<% end %>

<form id="player_actions" action='/round/<%= @round_id %>/player/<%= @player_id %>' method='post'>
   
  <% if @player.going_up %>
    <%== erb :form_surface %>
  <% else %>
    <%== erb :form_diving %>
  <% end %>

  <br>
  <br>
  <br>

  <%== erb :form_treasure %>
  <br>

  <button type='submit' class="btn btn-outline-success submit">Submit</button>
</form>

<%== erb :oxygen %>

