<% content_for :title do %>
  Round <%= @round_id %> - Score
<% end %>

<% unless @round.all_back? %>
  <%== erb :drowned_score %>
<% end %>

<% if (@round.any_back? || @round_id != 3) %>
  <div class="row justify-content-md-center">
    <form action="/round/<%= @round_id %>/save" method='post'>
      <% if @round.any_back? %>
        <%== erb :add_score %>
      <% end %>

      <% unless @round_id == 3 %>
        <%== erb :next_player %>
      <% end %>

      <button type='submit' class="btn btn-outline-success submit">Save</button>
    </form>
  </div>
<% else %>
  <a class="btn btn-outline-success" href="/end">
    Next
  </a>
<% end %>