<% content_for :title do %>
  Round <%= @round_id %> - Score
<% end %>

<div class="score">

  <% if @round.any_back? %>
    <legend>Add score for the divers who made it back</legend>
    <form>
      <% @round.players.each_with_index do |player, id| %>
        <% next unless player.is_back %>
        <div class="form-group row">
          <label for="player-<%= id %>" class="col-sm-2 offset-4 col-form-label">
            <%= player %>
          </label>
          <div class="col-sm-2">
            <input type="number" name="player-<%= id %>" value="<%= player.score %>" min="0" max="100" step="1"/>
          </div>
        </div>

      <% end %>
      <button type='submit' class="btn btn-outline-success submit">Submit</button>
    </form>
  <% end %>
<div>